.button-element {
    background-color: var(--purple);
    color: var(--off-white);
    width: 25%;
    border-radius: 10px;
    margin-top: 1rem;
}

.button-element:active {
    background-color: var(--darkest-purple) !important;
    color: var(--purple) !important;
}

.button-element:hover {
    background-color: var(--darker-purple);
    color: var(--off-white);
}